@model List<BucStop.Models.Game>

<style>
    .container {
        position: relative;
        width: 100%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .container:hover .overlay {
        bottom: 0;
        height: 100%;
    }

    .text {
        color: white;
        font-size: 20px;
        overflow: visible;
        /*top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);*/
    }
</style>
<!-- This is the games list page. Each of the games is loaded in from the model using the game's ID value -->
<h1>List of Games</h1>

<div class="row gy-4" style="margin-left: 20px; margin-right: 20px;">
    <!-- Goes through the list of games held in the Game model and lists the pertinent information.-->
    @foreach (var game in Model)
    {
        <div class="col-sm-4 d-flex">
            <div class="card">
                <a href="@Url.Action("Play", "Games", new { id = game.Id })" style="text-decoration: none;">
                    <!--<img src="@game.Thumbnail" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                        <p class="card-text"><small class="text-muted">@game.Description</small></p>
                        <p class="text-muted">Play Count: @game.PlayCount</p>
                    </div>
                        -->
                    <div class="card-body">
                        <img src="@game.Thumbnail" class="card-img-top image" alt="@game.Title">
                    </div>
                    <div class="container overlay">
                        <div class="card-title text">@game.Title</div>
                        <div class="card-text text game-description"><small class="text-muted">@game.Description</small></div>
                        <div class="text-muted game-play-count">Play Count: @game.PlayCount</div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>